main {
	min-height: 80vh;
}

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

a {
	text-decoration: none;
}

.rating span {
	margin: 0.1rem;
}

.text-orange {
	color: #eb5e28;
}

.navbar-brand {
	font-size: 2rem;
}

.navbar {
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
}

/* Carousel */
.carousel-item-text,
.carousel-item-prev,
.carousel.item-active {
	display: flex;
	justify-content: center;
}

.carousel-caption {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
}

.carousel-caption h2 {
	color: #fff;
}

.carousel img {
	display: block;
	height: 300px;
	/* padding: 30px; */
	margin: 80px auto 40px;
	margin-left: auto;
	margin-right: auto;
}

.carousel a {
	margin: 0 auto;
}
