main {
	min-height: 80vh;
}

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

a {
	text-decoration: none;
}

.rating span {
	margin: 0.1rem;
}

.text-orange {
	color: #eb5e28;
}

.navbar-brand {
	font-size: 2rem;
}

.navbar {
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
}
